<!DOCTYPE html>
<html>
  <meta>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title><%=title%></title>
  </head>
  <%- body %>
  <style>
    body {
      color: #303133;
    }
  </style>
</html>
