<!DOCTYPE html>
<html>
  <meta>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title><%=title%></title>
    <script crossorigin="anonymous" integrity="sha384-KcyRSlC9FQog/lJsT+QA8AUIFBgnwKM7bxm7/YaX+NTr4D00npYawrX0h+oXI3a2" src="https://lib.baomitu.com/jquery/1.12.4/jquery.js"></script>
    <script crossorigin="anonymous" integrity="sha384-Yt0SloQYggT/O72oHzbQvYgyJ8k+ja4adGsAlj9oIvpN45zNB7/dMcUM+0dSieaY" src="https://lib.baomitu.com/jquery.transit/0.9.12/jquery.transit.min.js"></script>
    <% include ./components/main.ejs %>
  </head>
  <%- body %>
</html>
