<main>
  <h3>钉钉机器人配置</h3>
  <div class="config-box">
    <p>appKey：<%=data.appKey%></p>
    <p>appSecret：<%=data.appSecret%></p>
    <p>当前token：<%=data.token%></p>
  </div>
</main>
<style>
main {
  width: 800px;
  margin: 0 auto;
}
</style>